MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=orderservice

MYSQL_USER=orderuser
MYSQL_PASSWORD=secret
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-orders:3306/orderservice
SPRING_DATASOURCE_USERNAME=orderuser
SPRING_DATASOURCE_PASSWORD=secret

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8083/.well-known/jwks.json